functions-framework==3.*
functions-framework  
boto3>=1.28.59
markupsafe  
numpy
pymongo
python-dotenv
PyPDF2
google-cloud-storage
google-auth
tenacity
urllib3
pydantic
flask-cors
flask
cryptography
requests
datetime